<section class="list articles">
  <div class="container">
    <div class="col-md-12">
      <h1 class="title text-primary">Listing all articles</h1>
    <div>
    
    <div class="col-md-10 col-md-offset-1">
      <%= render 'article', obj: @articles %>
    </div>
          
  </div> <!-- /.container -->
</section>