<section class="blog-wrapper">
  <div class="container">
    <h2>Blog <b>Posts</b></h2>
    
    <div class="row-page row">
      
      <div class="paginate">
        <center><%= will_paginate %></center> <!-- Display pagination -->
      </div>
      
      <%= render 'article', obj: @articles %> <!-- Render Articles list -->
      
      <div class="paginate">
        <center><%= will_paginate %></center>
      </div>
      
    </div>
          
  </div> <!-- /.container -->
</section>