<section class="blog-wrapper">
  <div class="container">
    <h2>Create an <b>Article</b></h2>
    
    <div class="row-page row">
  
      <!-- Call the partial file (shared by 'new.html.erb' and 'edit.html.erb') -->
      <%= render 'form' %> <!-- This is the format b/c it is within the same directory; Otherwise folder name would have to be mentioned -->
    
    </div> <!-- /.row-page -->
  </div> <!-- /.container -->
</section>