<h1>Create an article</h1>

<!-- Call the partial file (shared by 'new.html.erb' and 'edit.html.erb') -->
<%= render 'form' %> <!-- This is the format b/c it is within the same directory; Otherwise folder name would have to be mentioned -->