<section class="signup users">
  <div class="container">
    <div class="col-md-12">
      
      <%= render 'shared/errors', obj: @user %>
      
      <h1 class="title">Edit Your Account</h1>
      
      <%= render 'form' %>
      
    </div>
  </div>
</section>