<section class="blog-wrapper">
  <div class="container">
    <h2>Signup to <b>Alpha Blog</b></h2>
    
    <div class="row-page row">
      
      <%= render 'shared/errors', obj: @user %>
      
      <%= render 'form' %>
      
    </div>
  </div>
</section>