// -------------------------------------
// Variables
// -------------------------------------

$navbar-default-bg: #2C3136;
$primary: #ED4545; // red
$primary-dark: #cc3d3d; // red dark
$grey: #888;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// -------------------------------------
// General
// -------------------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

a, 
.btn {
  transition: all 300ms ease;
}

.btn,
input,
textarea,
.form-control {
  border-radius: 0;
}

.img-center,
.img-center > img,
.img-center > a > img { 
  margin: 0 auto !important; 
  
}

// -------------------------------------
// Font
// -------------------------------------

.text-uppercase { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.text-lowercase { text-transform: lowercase !important; }
.text-primary { color: $primary; }
.text-default { color: $navbar-default-bg; }

// -------------------------------------
// Buttons
// -------------------------------------

.btn-primary {
  background: $primary;
  border-color: $primary;
  color: white;
  &:hover,
  &:active,
  &:target,
  &:focus {
    background: $primary-dark;
    border-color: $primary-dark;
    color: white;
  }
}

// -------------------------------------
// Container
// -------------------------------------

.container-fluid {
  padding: 0 40px;
}

@media (max-width: 991px) {
  .container-fluid {
    padding: 0 20px;
  }
} 

// -------------------------------------
// Navbar
// -------------------------------------

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  z-index: 10;
  .container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
    .navbar-header { // Navbar Header
      #logo {
        b {
          font-weight: 700;
          color: white;
        }
        float: left;
        font-size: 1.5em;
        font-weight: 300;
        text-transform: uppercase;
        color: $primary;
      }
    }
    .navbar-collapse { // Navbar Collapse
      .navbar-nav > li > a {
        color: white;
        background: none !important;
        &:hover {
          color: $primary;
        }
      }
      form {
        .btn {
          padding: 6.25px 12px;
        }
      }
    }
  }
}

// -------------------------------------
// Home
// -------------------------------------

section.home {
  display: flex;
  position: absolute;
  z-index: 1;
  margin-top: -55px;
  height: 95%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), 
    asset-url('work-station.jpg');
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  .container-fluid { // Container Fluid
    display: flex;
    .main {
      margin: auto;
      h1 {
        color: white;
        font-size: 4.5em;
        margin: 0 0 15px;
      } 
    }
  }
}

// -------------------------------------
// Section
// -------------------------------------

section.articles,
section.users {
  &.list, &.profile { // List
    h2 > a {
      color: $navbar-default-bg;
    }
    h2 > a:hover,
    h2 > a:focus,
    h2 > a:active,
    h2 > a:target {
      color: $primary;
    }
    .badge {
      background: $grey;
      font-weight: 500;
    }
  }
  &.show { // Show
    h2 {
      color: $navbar-default-bg;
    }
    .more-info {
      margin-top: 20px;
      .badge {
        background: $grey;
        font-weight: 500;
      }
      .article-actions {
        .btn {
          width: 100px;
        }
      }
    }
  }
  .container {
    padding: 50px 40px;
    h1.title {
      text-align: center;
      margin-bottom: 30px;
      font-size: 1.5em;
      text-transform: uppercase;
      color: #aaa;
      font-weight: bold;
      letter-spacing: 3px;
    }
    a {
      color: $grey;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active,
      &:target {
        color: $primary;
      }
    }
    .article-actions {
      a,
      a:hover,
      a:target,
      a:active,
      a:focus {
        color: white;
      }
    }
    .user {
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      padding: 10px 0;
      border-bottom: solid 1px #eaeaea;
      .item {
        display: flex;
        &.item-1 {
          flex: 1 20%;
          img {
            border-radius: 50%;
          }
        }
        &.item-2 {
          display: flex;
          flex: 1 80%;
          padding: 0 0 0 20px;
          .content {
            margin: auto 0;
            h2, p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.article-actions {
  .btn {
    min-width: 70px;
  }
}

// -------------------------------------
// Flash Message
// -------------------------------------

.flash-msg {
  .container-fluid {
    .alert {
      margin: 40px 0 20px;
    }
  }  
}

// Errors Any?
.errors-any {
  .panel { border-radius: 0; }
  .panel-danger > .panel-heading { border: none; }
  .panel-danger { 
    border-color: #f2dede;
    padding: 15px;
    background: #f2dede;
  };
  .panel-body { 
    background: #f2dede; 
    padding: 0 15px;
  }
}

// -------------------------------------
// Profile
// -------------------------------------

.profile {
  margin: 20px 0;
}

/* Profile sidebar */

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  max-width: 100px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.profile-usermenu {
  margin-top: 30px;
  ul li {
    border-bottom: 1px solid #f0f4f7;
    &:last-child {
      border-bottom: none;
    }
    a {
      color: #93a3b5;
      font-size: 14px;
      font-weight: 400;
      i {
        margin-right: 8px;
        font-size: 14px;
      }
      &:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
      }
    }
    &.active {
      border-bottom: none;
      a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
      }
    }
  }
}

// -------------------------------------
// Pagination
// -------------------------------------

.paginate {
  li {
    &.active,
    &.active > a {
      color: white !important;
      background: $primary;
      border-color: $primary;
    }
    &.active > a:hover,
    &.active > a:target,
    &.active > a:active,
    &.active > a:focus {
      background: $primary-dark;
      border-color: $primary-dark;
    }
  }
}


// -------------------------------------
// Footer
// -------------------------------------

.footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $navbar-default-bg;
  color: $grey;
  display: flex;
  .container-fluid {
    display: flex;
    width: 100%;
    .item {
      flex: 1 50%;
      margin: auto;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}