<section class="show articles">
  <div class="container">
    <div class="col-md-12">
      <h1 class="title text-primary">Edit Category Name</h1>
      
      <%= render 'form' %>

     </div>
  </div> <!-- /.container -->
</section>