<section class="blog-wrapper">
  <div class="container">
    <h2>Blog <b>Posts</b></h2>
    
    <div class="row-page row">
      
      <div class="page-nav col-md-12">
        <center><%= will_paginate %></center>
      </div>
      
      <div class="categories">
      
        <% @categories.each do |category| %>
          
          <div class="col-md-3 category">
            <div class="box text-center">
              <h3> <%= link_to "#{category.name}", category_path(category) %> </h3>
              <p><%= pluralize(category.articles.count, "article") %></p>
            </div>
          </div>
        
        <% end %>
      
      </div>
      
      <div class="page-nav col-md-12">
        <center><%= will_paginate %></center>
      </div>
      
    </div>

  </div> <!-- /.container -->
</section>