<section class="blog-wrapper">
  <div class="container">
    <h2>Create <b>New Category</b></h2>
    
    <div class="row-page row">
      
      <%= render 'form' %>

     </div>
     
  </div> <!-- /.container -->
</section>