<footer class="footer">
  <div class="container-fluid">
    <div class="item item-1">
      <small>
        Copyright &copy; <a href="https://www.udemy.com" target="_blank">The Complete Ruby on Rails Developer</a> by <a href="http://www.mashrurhossain.com/" target="_blank">Mashrur Hossain</a>
      </small>
    </div>
    <div class="item item-2 text-right">
      <nav>
        <a><%= link_to "About", about_path %></a>
      </nav>
    </div>
  </div>
</footer>