<footer class="footer">
  <div class="container-fluid">
    <div class="item item-1">
      <small>
        Copyright &copy; <a href="https://www.udemy.com" target="_blank">The Complete Ruby on Rails Developer</a> by <a href="http://www.rafaelperaltajr.com/" target="_blank">Rafael Peralta Jr.</a>
      </small>
    </div>
  </div>
</footer>